@model IEnumerable<AgenciaViajes.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPlazas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCrea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModifica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCreaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioModificaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPlazas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioCreaNavigation.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioModificaNavigation.IdUsuario)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.IdHotel">Edit</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdHotel">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdHotel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
