@model AgenciaViajes.Models.Vuelo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadOrigen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoOrigen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisOrigen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazasTotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazasTotales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioCreaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioCreaNavigation.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioModificaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioModificaNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVuelo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
